@charset "UTF-8";

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?22619757');
  src: url('../font/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
       url('../font/symbols-technomart.woff?22619757') format('woff'),
       url('../font/symbols-technomart.ttf?22619757') format('truetype'),
       url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '🏠'; } /* '\1f3e0' */
.icon-user:before { content: '👨'; } /* '\1f468' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */

.sprite {
  display: block;

  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
}

.sprite-basket {
  width: 59px;
  height: 72px;

  background-position: -5px -5px;
}

.sprite-buket {
  width: 44px;
  height: 65px;

  background-position: -74px -5px;
}

.sprite-car {
  width: 78px;
  height: 63px;

  background-position: -128px -5px;
}

.sprite-drill {
  width: 75px;
  height: 61px;

  background-position: -216px -5px;
}

.sprite-traktor {
  width: 78px;
  height: 62px;

  background-position: -301px -5px;
}

.sprite-new {
  width: 60px;
  height: 59px;

  background-position: -389px -5px;
}

.sprite-xshad {
  width: 10px;
  height: 272px;

  background-position: -459px -5px;
}

body {
  font-size: 13px;
  font-family: "Cuprum", Arial, sans-serif;
}

.container {
  width: 940px;
  margin: auto;
  padding: 0 10px;
}

.clearfix:after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  padding: 0;

  background: #f1f5f7;
}

.main-header-index {
  margin-bottom: 60px;
}

.bg-container {
  padding-bottom: 60px;
  background: #f1f5f7;
}

.bg-container-article {
padding-top: 67px;
padding-bottom: 50px;
background: #f2f6f8;
}

.top-header {
  min-height: 42px;
  background: #293449;
}

.top-header-cont {
  background: #293449;
}

.logo-link {
  float: left;
  box-sizing: border-box;
  width: 220px;
  min-height: 42px;
  padding: 9px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo-link:hover {
  background: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo-link:active {
  background: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.search-box {
  float: left;
  width: 270px;
  min-height: 42px;

  font-size: 0;

  background: #293449;
}

.search-box:hover {
  background: #212a3a;
}

.search-box-btn {
  float: right;
  width: 42px;
  height: 42px;

  font-size: 18px;
  line-height: 24px;
  color: #6a7180;

  background: transparent;
  border: none;
  outline: none;
}

.search {
  float: right;
  width: 228px;
  height: 42px;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background: transparent;
  border: none;
  outline: none;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

input[type="search"]::-moz-input-placeholder {
  color: #ffffff;
}

.search-box:hover .search-box-btn {
  color: #ffffff;
}

.search:focus {
  background: #ffffff;
}

.search:focus + .search-box-btn {
  color: #ee3643;

  background: #ffffff;
}

.header-cont {
  float: left;
  box-sizing: border-box;
  width: 150px;
  min-height: 42px;
  padding: 12px 0;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background: #293449;
}

.empty {
  background: #293449;
}

.full {
  background: #EE3643;
}

.header-cont:hover {
  background: #212a3a;
}

.empty:active,
.header-cont:active {
  background: #161d29;
}

.full:hover {
  background: #EE3643;
}

.full:active {
  background: #EE3643;
  color: #aac39b;
}

.icon-bookmark:before,
.icon-basket:before {
  margin-right: 15px;

  color: #6a7180;
}

.icon-bookmark:hover:before,
.icon-basket:hover:before {
  color: #ffffff;
}

.icon-bookmark:active:before,
.icon-basket:active:before {
  color: #8b8e94;
}

.order {
  background: #63a63e;
}

.order:hover {
  background: #5fbb2d;
}

.order:active {
  color: #aac39b;

  background: #518534;
}

.info-header {
  width: 940px;
  min-height: 80px;
  margin: 0 auto;
  padding: 42px 0 30px 0;
  background: #F1F5F7;
}

.info-header-col {
  float: left;
  width: 300px;
  margin-right: 20px;

  font-family: "Cuprum", Arial, sans-serif;
}

.info-header-col:last-child {
  margin-right: 0;
}

.header-description {
  width: 200px;
  margin: 0;
  padding-left: 50px;

  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.telephone {
  width: 240px;
  margin-bottom: 5px;
  padding: 7px 12px;

  font-size: 21px;
  line-height: 21px;
  color: #e9292a;

  border: 3px solid white;
}

.icon-phone:before {
  margin-right: 32px;

  font-size: 22px;
  line-height: 22px;
  color: #b7bfc8;
}

.header-address {
  margin: 0;
  padding-left: 10px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.account {
  float: right;
  width: 150px;
  margin-left: 10px;
  padding: 11px 0;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;

  background: #ffffff;
}

.icon-login {
  width: 120px;
}

.icon-login:before {
  margin-right: 15px;

  font-size: 20px;
  line-height: 20px;
  font-family: "symbols-technomart";
  color: #c5c5c5;
}

.account:hover {
  color: #ee3643;
}

.icon-login:hover:before {
  color: #32425c;
}

.account:active {
  color: #b2b2b2;
}

.icon-login:active:before {
  color: #c5c5c5;
}

.username {
  margin-bottom: 5px;
  padding: 14px 10px 10px 10px;

  background: #ffffff;
}

.icon-user,
.icon-logout {
  float: left;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.icon-logout {
  float: right;
}

.icon-user:active {
color: #c5c5c5;
}

.icon-user:before,
.icon-logout:before {
  font-size: 18px;
  line-height: 18px;
  color: #c5c5c5;
}

.icon-user:before {
  margin-right: 10px;
}

.icon-user:hover:before,
.icon-logout:hover:before {
  color: #32425c;
}

.icon-user:active:before,
.icon-logout:active:before {
  color: #c5c5c5;
}

.link {
  margin-left: 10px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.icon-circle-dot:before {
  margin-right: 15px;
  font-family: "symbols technomart";
  font-size: 12px;
  color: #32425c;
  text-decoration: none;
}

.link:hover {
  color: #ee3643;
}

.link:active {
  color: #b7bfc8;
}

.main-menu {
  width: 940px;
  /*margin: auto;*/
  /*padding: 0 10px;*/
}

.main-menu ul {
  margin: 0;
  padding: 0;

  font-size: 0;
}

.main-menu-item {
  display: inline-block;
  padding-bottom: 5px;

  vertical-align: top;

  background: #293449;
}

.main-menu-link {
  display: block;
  padding: 21px 30px 18px 30px;

  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background: #32425c;
}

.main-menu-item:first-child .main-menu-link {
  padding: 21px 30px 18px 55px;
}

.main-menu-item:last-child .main-menu-link {
  padding: 21px 55px 18px 30px;
}

.main-menu-link:hover {
  background: #293449;
}

.main-menu-item:active,
.main-menu-link:active {
  color: #868c95;

  background: #1d2739;
}
/*end header*/
/*start index*/
.sections-row {
  margin-bottom: 20px;
}

.bottom-sections-row {
  margin-bottom: 53px;
}

.section-right {
  float: right;
  width: 300px;
}

.section {
  position: relative;

  float: left;
  box-sizing: border-box;
  width: 300px;
  min-height: 120px;
  padding: 20px 115px 22px 22px;
}

.section:first-child {
  margin-right: 20px;
}

.catalog-new:after,
.item-new:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 60px;
  height: 59px;

  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  background-position: -389px -5px;
}

.materials {
  background: #f6b22d;
}

.tools {
  background: #4aafde;
}

.technics {
  float: right;

  background: #cc79d1;
}

.discount {
  float: none;
  margin-bottom: 20px;

  background: #85d179;
}

.delivery {
  float: none;

  background: #f6b22d;
}

.materials:before,
.tools:before,
.technics:before,
.discount:before,
.delivery:before {
  content: "";
  position: absolute;
  top: 30px;

  display: block;

  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
}

.materials:before {
  right: 40px;

  width: 44px;
  height: 65px;

  background-position: -74px -5px;
}

.tools:before {
  right: 25px;

  width: 75px;
  height: 61px;

  background-position: -216px -5px;
}

.technics:before {
  right: 30px;

  width: 78px;
  height: 62px;

  background-position: -301px -5px;
}

.discount:before {
  top: 25px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-position: -5px -5px;
}

.delivery:before {
  right: 30px;

  width: 78px;
  height: 63px;

  background-position: -128px -5px;
}

.section-title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.btn {
  display: block;
  height: 20px;
  padding: 10px 5px 8px 5px;
  overflow: hidden;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: #ee3643;
  border-radius: 3px;
}

.section-btn {
  display: block;
  width: 135px;
  height: auto;
  padding: 10px 0;

  background: rgba(0, 0, 0, 0.1);
}

.section-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

.section-btn:active {
  background: rgba(0, 0, 0, 0.3);
}

.slider {
  width: 620px;
  min-height: 265px;

  background: #8a837e;
}

.slider input[type=radio] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 100;

  -webkit-transform: translateX(-50%);

          transform: translateX(-50%);
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;

  vertical-align: top;

  background: white;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background: #ee3643;
}

.slider-controls label:before {
  position: absolute;
  top: -105px;
  left: -260px;
  display: none;
  color: #ffffff;
  font-size: 45px;
  font-family: "symbols-technomart";
  content: "\3c";
}

.slider-controls label:after {
  position: absolute;
  top: -105px;
  right: -270px;
  display: none;
  color: #ffffff;
  content: "\3e";
  font-family: "symbols-technomart";
  font-size: 45px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  box-sizing: border-box;
  width: 620px;
  min-height: 265px;
  padding: 22px 25px 22px 25px;
}

.slide:nth-child(1) {
  background: url("../images/slide1.jpg") no-repeat;
}

.slide:nth-child(2) {
  background: url("../images/slide2.jpg") no-repeat;
}

#btn-1:checked ~ .slides .slide:nth-child(1),
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-2"]:before,
#btn-1:checked ~ .slider-controls label[for="btn-2"]:after,
#btn-2:checked ~ .slider-controls label[for="btn-1"]:before,
#btn-2:checked ~ .slider-controls label[for="btn-1"]:after {
  display: block;
}

.slide-title {
  margin: 0;
  margin-bottom: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.slide-text {
  margin: 0;
  margin-bottom: 123px;

  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
}

.slide-btn {
  width: 184px;
}

.slide-btn:hover,
.popular-btn:hover {
  background: #ca2c37;
}

.slide-btn:active,
.popular-btn:active {
  background: #ba2732;
}

.popular {
  min-height: 20px;
  margin-bottom: 20px;
  padding: 25px 24px 25px 30px;

  background: #f7f3ec;
}

.popular-title {
  float: left;
  width: 610px;
  margin: 0;
  margin-top: 5px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-btn {
  float: right;
  width: 245px;
}

.catalog-items {
  font-size: 0;
}

.catalog-companies {
  font-size: 0;
  margin-bottom: 67px;
}

.item,
.item-index,
.companies {
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  vertical-align: top;
  text-align: center;

  border: 1px solid #e5e5e5;
}

.item,
.item-index {
  position: relative;

  height: 316px;

  font-size: 17px;
  line-height: 18px;
}

.item:hover,
.item-index:hover {
  border-color: #ffffff;
  box-shadow: 0 8px 20px 3px #a9adb5;
}

.companies:nth-child(4n),
.item-index:nth-child(4n) {
  margin-right: 0;
}

.item:nth-child(3n) {
  margin-right: 0;
}

.item:hover .item-options,
.item-index:hover .item-options {
  display: block;
}

.item-image {
  width: 218px;
  height: 136px;
  margin-bottom: 43px;
  overflow: hidden;
}

.item-image img {
  max-width: 100%;
}

.item-title {

  color: #000000;
  text-decoration: none;
}

.item-title h2 {
  margin: 0;
  padding: 0 25px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  font-family: "Pt Sans", sans-serif;
}

.item-title:hover {
  text-decoration: underline;
}

.item-discount {
  min-height: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: #999999;
  text-decoration: line-through;
}

.item-price {
  position: relative;

  width: 80px;
  margin: 0 auto 20px;
  padding: 10px 30px;

  color: #ffffff;
  text-transform: uppercase;

  background: #ee3643;
  border-radius: 3px;
}

.item-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;

  display: block;
  width: 0;
  height: 0;

  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.item-options {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 218px;
  height: 96px;
  padding: 40px 0;

  background: #ffffff;
}

.item-buy,
.item-bm {
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;

  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #63a63e;
  border-radius: 3px;
}

.item-buy {
  position: relative;

  box-shadow: inset 0 -3px 0 0 #367315;
}

.item-buy:before {
  content: "\62";
  position: absolute;
  top: 9px;
  left: 12px;

  font-family: "symbols-technomart";
  color: #ffffff;
  text-transform: none;

  opacity: 0.3;
}

.item-buy:hover {
  background: #5fbb2d;
}

.item-buy:hover:before {
  opacity: 1;
}

.item-buy:active {
  background: #518534;
  box-shadow: none;
}

.item-bm {
  width: 129px;
  padding: 7px 0;

  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.item-bm:hover {
  border-color: #32425c;
}

.item-bm:active {
  color: #c1c6ce;

  border-color: #c1c6ce;
}

.companies {
  height: 143px;

  line-height: 143px;
}

.companies img {
  max-width: 100%;

  vertical-align: middle;
}

.companies:hover {
  border-color: #ffffff;
  box-shadow: 0 8px 20px 3px #a9adb5;
}

.companies:active {
  box-shadow: 0 3px 8px 2px #a9adb5;
}

.companies:active img {
  opacity: 0.3;
}

.service {
  background: #f2f6f8;
}

.service-bg-container {
  padding-top: 64px;

  background: #f2f6f8;
}

.service-title,
.about-title,
.contacts-title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-title {
  margin-bottom: 27px;
}

.service-text,
.about-text,
.contacts-text {
  margin-bottom: 65px;

  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.service-slider {
  position: relative;

  min-height: 290px;
}

.service-slider input[type="radio"] {
  display: none;
}

.service-controls {
  position: absolute;
  top: 3px;
  left: 0;

  width: 240px;
  height: 180px;
}

.service-controls label {
  display: block;
  width: 217px;
  height: 30px;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 23px;
  overflow: hidden;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

  background: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}

.service-controls label:hover {
  background: #293449;
}

#delivery:checked ~ .service-controls label[for="delivery"],
#guarant:checked ~ .service-controls label[for="guarant"],
#credit:checked ~ .service-controls label[for="credit"] {
  color: #32425c;

  background: #ffffff;
  border-color: #ffffff;
}

.service-shadow {
  position: absolute;
  top: -40px;
  left: 230px;

  width: 10px;
  height: 272px;
}

.service-slide {
  position: absolute;
  top: 0;
  right: 0;

  display: none;
  width: 380px;
  min-height: 290px;
  padding-right: 240px;
}

.service-slide:nth-child(1) {
  background: url("../images/deliv.png") no-repeat 100% 100%;
}

.service-slide:nth-child(2) {
  background: url("../images/guarant.png") no-repeat 100% 100%;
}

.service-slide:nth-child(3) {
  background: url("../images/credit.png") no-repeat 100% 100%;
}

.service-slide-title {
  margin: 0;
  margin-bottom: 27px;

  font-size: 36px;
  line-height: 36px;
  font-family: "PT Sans", sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.service-slide-text {
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 13;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.service-slide-btn {
  width: 185px;
}

.service-slide-btn:hover {
  background: #ca2c37;
}

.service-slide-btn:active {
  background: #ba2732;
}

#delivery:checked ~ .service-slides .service-slide:nth-child(1),
#guarant:checked ~ .service-slides .service-slide:nth-child(2),
#credit:checked ~ .service-slides .service-slide:nth-child(3) {
  display: block;
}

.about {
  float: left;
  width: 540px;
  padding: 77px 0 84px;
}

.about-text {
  margin-bottom: 25px;
}

.mb {
  margin-bottom: 22px;
}

.contacts-text {
  margin-bottom: 33px;
}

.about-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.about-list-item {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;

  list-style-type: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
}

.about-list-item:last-child {
  margin-bottom: 0;
}

.about-list-item:before {
  content: "";

  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 10px;

  line-height: 20px;
  vertical-align: middle;

  background: #fb565a;
}

.about-btn {
  width: 210px;
}

.about-btn:hover {
  background: #ca2c37;
}

.about-btn:active {
  background: #ba2732;
}

.contacts {
  float: right;
  width: 300px;
  padding: 77px 0 84px;
}

.contacts-img {
  width: 300px;
  height: 160px;
  margin-bottom: 37px;

  cursor: pointer;
}

.contacts-img img {
  width: 100%;
}

.contacts-btn {
  width: 290px;
}

.contacts-btn:hover {
  background: #ca2c37;
}

.contacts-btn:active {
  background: #ba2732;
}

.cart-popup,
.feedback-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  margin: auto;
  width: 620px;
  background: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0 15px 50px 5px #767d8b;
  z-index: 200;
}

.cart-popup {
  height: 276px;
}

.feedback-popup {
  height: 483px;
  overflow: auto;
}

@-webkit-keyframes cart {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes cart {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.cart-popup-show {
  display: block;
  -webkit-animation: cart linear 0.1s;
          animation: cart linear 0.1s;
}

.close,
.close-feedback,
.close-map {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background: url("../images/close.png") no-repeat;
  cursor: pointer;
  z-index: 300;
}

.close-map {
  top: 45px;
  right: 12px;
}

.popup-top {
  width: 460px;
  padding: 47px 80px 50px 80px;
}

.cart-popup-message {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.cart-popup-message:before {
  display: inline-block;
  vertical-align: middle;
  width: 66px;
  height: 66px;
  margin-right: 30px;
  background: url("../images/check.png") no-repeat;
  content: "";
}

.popup-bottom {
  width: 460px;
  padding: 37px 80px 37px 80px;
  background: #f1f1f1;
  font-size: 0;
  text-align: center;
}

.popup-btn,
.popup-btn-white {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  padding-left: 0;
  padding-right: 0;
}

.popup-btn {
  margin-right: 20px;
}

.popup-btn-white {
  background: #ffffff;
  color: #000000;
}

@-webkit-keyframes feedback {
  0% {
    -webkit-transform: translateY(-237px) scale(0, 0);
            transform: translateY(-237px) scale(0, 0);
  }
  40% {
    -webkit-transform: translateY(-237px) scale(1, 0.04);
            transform: translateY(-237px) scale(1, 0.04);
  }
  100% {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
  }
}

@keyframes feedback {
  0% {
    -webkit-transform: translateY(-237px) scale(0, 0);
            transform: translateY(-237px) scale(0, 0);
  }
  40% {
    -webkit-transform: translateY(-237px) scale(1, 0.04);
            transform: translateY(-237px) scale(1, 0.04);
  }
  100% {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
  }
}

.feedback-popup-show {
  display: block;
  -webkit-animation: feedback ease-out 0.6s;
          animation: feedback ease-out 0.6s;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
}

@keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
}

.form-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.feedback-popup label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-block {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-bottom: 20px;
}

.form-block:first-child {
    margin-right: 12px;
}

.form-block input {
  width: 181px;
  border: 2px solid #d7dcde;
  outline: none;
  padding: 15px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
}

.form-block input:hover {
  border-color: #d7dcde;
}

.feedback-popup textarea {
  display: block;
  width: 416px;
  height: 110px;
  border: 2px solid #d7dcde;
  outline: none;
  padding: 15px;
  margin: 0;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  resize: none;
}

.feedback-popup textarea:active,
.form-block input:active {
  border-color: #56bffb;
}

.feedback-btn,
.feedback-btn-white {
  width: 210px;
  padding: 14px 5px 10px 5px;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 3px;
  font-family: "Cuprum", Arial, sans-serif;
  border: none;
  outline: none;
}

.feedback-btn {
  margin-right: 20px;
}

.feedback-btn-white {
  background: #ffffff;
  color: #000000;
}

.popup-btn:hover,
.popup-btn-white:hover,
.feedback-btn:hover,
.feedback-btn-white:hover {
  background: #ca2c37;
  color: #ffffff;
}

.popup-btn:active,
.popup-btn-white:active,
.feedback-btn:active,
.feedback-btn-white:active {
  background: #ba2732;
  color: #ffffff;
}

.relative {
  position: relative;
}

.map {
  position: absolute;
  top: 30px;
  left: 10px;
  display: none;
  width: 940px;
  height: 448px;
  background: #ffffff url("../images/map2.png") no-repeat;
  background-size: cover;
  box-shadow: 0 -2px 15px 2px #c4c3c4;
}

@-webkit-keyframes map {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes map {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show-map {
  display: block;
  -webkit-animation: map ease-out 0.8s;
          animation: map ease-out 0.8s;
}
/*end index*/
/*start catalog*/
.breadcrumbs {
  margin: 0;
  padding: 20px 0;

  font-size: 0;
}

.breadcrumbs-title {
  display: inline-block;
  margin-right: 12px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  vertical-align: middle;
  text-transform: uppercase;
}

.breadcrumbs-link {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.icon-home:before {
  font-size: 16px;
  line-height: 20px;
  color: #c1c6ce;
  text-decoration: none;
}

.breadcrumbs-link:after {
  content: ">";

  margin-left: 12px;

  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: "symbols-technomart";
  color: #c1c6ce;
  text-decoration: none;
}

.catalog-title {
  margin: 0;
  padding: 30px 28px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background: #f2f6f8;
}

.catalog-padding {
  padding-top: 20px;
  padding-bottom: 60px;
}

.filters {
  float: left;
  width: 220px;
}

.filters-title,
.sorting-filter {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  background: #f7f3ec;
  padding: 12px 18px 13px 18px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 20px;
}

.sorting-filter {
  padding-bottom: 9px;
}

.filter-item {
  margin-bottom: 25px;
  padding-top: 25px;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
}

.filters-item-title {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.range {
  padding-bottom: 25px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background: #f7f3ec;
  border-radius: 0 0 4px 4px;
  margin-bottom: 10px;
}

.scale {
  height: 2px;
  background: #d7dcde;
}

.bar {
  width: 140px;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  }

.toggle:hover {
  background: #01a25e;
  }

.toggle:active {
  background: #000000;
  }

.toggle-min {
  left: 18px;
  }

.toggle-max {
  left: 158px;
  }

.range-price {
  text-align: center;
  line-height: 38px;
  vertical-align: middle;
}

.range-price input[type="text"] {
  width: 95px;
  height: 38px;
  font-size: 17px;
  line-height: 18px;
  background: #f7f3ec;
  text-align: center;
  border-radius: 3px;
  border: none;
  outline: none;
}

.range-price input[name="min-price"] {
  float: left;
}

.range-price input[name="max-price"] {
  float: right;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] +label {
  display: inline-block;
  margin-right: 50px;
  white-space: nowrap;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 17px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

input[type="radio"] +label {
  font-size: 14px;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled +label {
  color: #999999;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  display: inline-block;
  width: 28px;
  height: 24px;
  color: #c1c1c1;
  font-size: 28px;
  line-height: 28px;
  font-family: "symbols-technomart";
  margin-right: 10px;
  vertical-align: bottom;
  font-weight: normal;
}

input[type="checkbox"] + label:before {
  content: "\2610";
}

input[type="checkbox"]:checked + label:before {
  content: "\2611";
}

input[type="radio"] + label:before {
  content: "\25cb";
}

input[type="radio"]:checked + label:before {
  content: "\25cf";
}

input[type="checkbox"] + label:hover:before,
input[type="radio"] + label:hover:before {
  color: #b5b5b5;
  cursor: pointer;
}

input[type="checkbox"]:disabled + label:before,
input[type="radio"]:disabled + label:before {
  color: #e9e9e9;
}

.filter-btn {
  width: 138px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  padding: 12px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: transparent;
  text-transform: uppercase;
  outline: none;
  font-weight: bold;
}

.filter-btn:hover {
  background: #95a5a6;
  border-color: #95a5a6;
  color: #ffffff;
}

.filter-btn:active {
  background: #7f8c8d;
  border-color: #95a5a6;
  color: #ffffff;
}

.catalog {
  float: right;
  width: 700px;
}

.catalog-sorting {
  float: left;
  width: 110px;
}

.sorting-list {
  float: left;
  width: 470px;
  padding: 0;
  font-size: 0;
  text-align: right;
}

.sorting-title {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 65px;
}

.sorting-title:last-child {
  margin-right: 0;
}

.sorting-link {
  font-size: 13px;
  line-height: 18px;
  font-family: "PTSans", sans-serif;
  text-transform: uppercase;
  color: #acaaa5;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
}

.sorting-abc {
  float: right;
  width: 50px;
}

.sorting-abc a {
  text-decoration: none;
}

.icon-up-dir,
.icon-down-dir {
  color: #c6c2bd;
  font-size: 23px;
  margin: 0;
  padding: 0;
}

.icon-up-dir:hover,
.icon-down-dir:hover {
  color: #000000;
}

.icon-up-dir:before,
.icon-down-dir:before {
  line-height: 15px;
  margin: 0;
  padding: 0;
}

.active-sorting-item {
  color: #ee3643;
  border-bottom: none;
}

.items-container {
  margin-bottom: 30px;
  font-size: 0;
}

.pagination {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;

}

.page-number {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
}

.page-number:last-child {
  margin-right: 0;
}

.page-link,
.page-link-next {
  display: block;
  width: 36px;
  height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  line-height: 36px;
  vertical-align: middle;
  overflow: hidden;
  font-family: "PT Sans", sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.page-link-next {
  width: 138px;
}

.page-link:hover,
.page-link-next:hover {
  border-color: #bdc6ca;
}

.page-link:active,
.page-link-next:active {
  border-color: #ee3643;
}

.page-number .current-page {
  background: #ee3643;
  color: #ffffff;
  border: 1px solid #ee3643;
  pointer-events: none;
}

.mini-article {
  background: #f2f6f8;
}

.mini-article-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
}

.mini-article-text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
}
/*end catalog*/
/*start footer*/
.footer {
  min-height: 55px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: #32425c;
}

.footer-top {
  padding-bottom: 37px;
  background: #32425c;
}

.left-col {
  float: left;
  width: 390px;
}

.footer-logo {
  display: block;
  float: none;
  width: 220px;
  height: 62px;
  margin-bottom: 35px;
  overflow: hidden;
  font-size: 30px;
  line-height: 50px;
  vertical-align: middle;
}

.left-col p {
  margin: 0;
  margin-bottom: 10px;
}

.right-col {
  float: right;
  width: 550px;
  padding-top: 40px;
}

.footer-menu {
  margin-bottom: 35px;
  padding: 0;

  font-size: 0;
}

.menu-gold {
  margin-left: 24px;
}

.footer-nav {
  display: inline-block;
  margin-right: 57px;

  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
}

.footer-nav:last-child {
  margin-right: 0;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
}

.footer-nav .footer-gold {
  color: #ffd180;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav a:active {
  text-decoration: none;

  opacity: 0.4;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;

  background: #293449;
}

.footer-bottom-bg {
  min-height: 75px;
  background: #293449;
  padding-top: 35px;
}

.copyright {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.social {
  width: 300px;
  margin: 0 auto;

  font-size: 0;
  text-align: center;
}

.social-btn {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-right: 5px;

  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background: #212a3a;
  border-radius: 50%;
}

.social-btn:hover {
  background: #ee3643;
}

.social-btn:active {
  background: #ee3643;
}

.dev {
  float: right;
  width: 115px;
  margin-left: 50px;
}

.feedback {
  float: right;
  width: 140px;
}

.feedback a,
.dev a {
  color: #ffd180;
  text-decoration: none;
}

.feedback a:hover,
.dev a:hover {
  text-decoration: underline;
}

.feedback a:active,
.dev a:active {
  color: #ee3643;
  text-decoration: none;
}
/*end footer*/
